<ng-template #beforeButton>
    <span>员工卡号：</span>
</ng-template>
<nz-input-group nzSearch [nzAddOnBefore]="beforeButton" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input [(ngModel)]="badgeId" placeholder="请输入员工卡号" (keyup.enter)="getUserInfo()"
        onfocus="this.select();" />
</nz-input-group>
<ng-template #suffixButton>
    <button nz-button nzType="primary" nzSearch (click)="getUserInfo()">确认</button>
</ng-template>
<div nz-row class="data-container" style="margin-top:10px;padding: 5px 30px;">
    <div nz-col nzSpan="12"> <span> 姓名：{{userInfo.chineseName}}</span> </div>
    <div nz-col nzSpan="12"> <span> 工号：{{userInfo.employeeID}}</span> </div>
    <div nz-col nzSpan="12"> <span> 部门：{{userInfo.department}}</span> </div>
    <div nz-col nzSpan="12"> <span> 成本中心：{{userInfo.costcenter}}</span></div>
</div>
<nz-divider nzText="领取记录" nzOrientation="left"></nz-divider>
<nz-table #smallTable nzBordered [nzData]="applyRecords" [nzShowPagination]="false">
    <thead>
        <tr>
            <th>季节</th>
            <th>款式</th>
            <th>价格(元/套)</th>
            <th>领取数量</th>
            <th>已退还数量</th>
            <th>领取时间</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of smallTable.data">
            <td>{{ data.season }}</td>
            <td>{{ data.style }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.number }}</td>
            <td>{{ data.backNumber }}</td>
            <td>{{ data.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
                <span *ngIf="data.backNumber==data.number">已全部退还</span>
                <span *ngIf="data.backNumber<data.number && data.status==3">无需退还</span>
                <span *ngIf="data.status<3 && data.backNumber<data.number">待退还</span>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="确认退还信息" nzKeyboard="false" nzMaskClosable="false"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkText]="showInfo?null:'确定'">
    <div nz-row class="data-container" style="padding: 5px 15px;">
        <div nz-col nzSpan="12"> <span> 姓名：{{userInfo.chineseName}}</span> </div>
        <div nz-col nzSpan="12"> <span> 工号：{{userInfo.employeeID}}</span> </div>
    </div>
    <nz-alert nzType="info" *ngIf="showInfo" [nzMessage]="infoMsg" nzShowIcon></nz-alert>
    <nz-table #backTable nzBordered [nzData]="backRecords" [nzShowPagination]="false" [hidden]="showInfo">
        <thead>
            <tr>
                <th>季节</th>
                <th>款式</th>
                <th>退还数量</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of backTable.data">
                <td>{{ data.season }}</td>
                <td>{{ data.style }}</td>
                <td>
                    <nz-input-number style="width: 100%;" [nzPrecision]="0" [nzMin]="0" [nzMax]="data.maxBackNumber"
                        [nzStep]="1" [(ngModel)]="data.backNumber">
                    </nz-input-number>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>