<form nz-form [formGroup]="validateForm" nzLayout="inline">

    <nz-form-item>
        <nz-form-label>快递单号</nz-form-label>
        <nz-form-control>
            <input nz-input formControlName="orderNumber" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>批次号</nz-form-label>
        <nz-form-control>
            <nz-select nzAllowClear formControlName="batchNo" style="min-width: 200px;">
                <nz-option *ngFor="let item of batchNoOptions" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>订单状态</nz-form-label>
        <nz-form-control>
            <nz-select nzAllowClear formControlName="status" style="min-width: 150px;">
                <nz-option nzLabel="全部" nzValue="">
                </nz-option>
                <nz-option *ngFor="let item of statusOptions" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>关键字</nz-form-label>
        <nz-form-control>
            <input nz-input placeholder="津巴布韦电话/姓名" formControlName="keyWord" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>航班号</nz-form-label>
        <nz-form-control>
            <input nz-input formControlName="flightNumber" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>录单时间</nz-form-label>
        <nz-form-control>
            <nz-range-picker formControlName="createTimeSpen"></nz-range-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button type="button" nz-button style="margin-left: 20px;" nzType="primary"
                (click)="searchData(true)">查询</button>
            <!-- <button style="margin-left: 20px;" nz-button><i nz-icon nzType="download"></i><span>广州中转确认</span></button> -->
            <button style="margin-left: 20px;" nz-button (click)="batchConfirm()"><i nz-icon nzType="download"></i><span>中转机场确认</span></button>
        </nz-form-control>
    </nz-form-item>
</form>
<div class="search-result-list">
    <nz-table #borderedTable nzBordered [nzData]="recordList" nzShowSizeChanger [nzFrontPagination]="false"
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)">
        <thead>
            <tr>
                <th nzShowCheckbox [(nzChecked)]="isAllDataChecked" (nzCheckedChange)="checkAll($event)"></th>
                <th>快递单号</th>
                <th>津巴布韦电话</th>
                <th>津巴布韦姓名</th>
                <th>状态</th>
                <th>航班号</th>
                <th>落地时间</th>
                <th>录单人</th>
                <th>录单时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of borderedTable.data">
                <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
                <td> {{data.orderNumber}}</td>
                <td> {{data.jbbwPhone}}</td>
                <td> {{data.jbbwName}}</td>
                <td> {{data.status}}</td>
                <td> {{data.flightNumber}}</td>
                <td> {{data.landingTime}}</td>
                <td> {{data.createdBy}}</td>
                <td> {{data.createTime}}</td>
                <td>
                    <a (click)="detail(data)">详情</a>
                    <nz-divider *ngIf="data.status==1011" nzType="vertical"></nz-divider>
                    <a *ngIf="data.status==1011" (click)="showConfirm(data)">机场确认</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <!-- 详情弹窗 -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="订单详情" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <nz-form-item>
            <nz-form-label>快递单号</nz-form-label> {{orderinfo.orderNumber}}
            <br>
            <nz-form-label> 物流批次 </nz-form-label> {{orderinfo.batchNo }}
            <br>
            <nz-form-label> 重量 </nz-form-label> {{orderinfo.weight }}
            <br>
            <nz-form-label> 津巴布韦姓名 </nz-form-label> {{orderinfo.jbbwName }}
            <br>
            <nz-form-label> 津巴布韦电话 </nz-form-label> {{orderinfo.jbbwPhone }}
            <br>
            <nz-form-label> 津巴布韦地址 </nz-form-label> {{orderinfo.jbbwAddress }}
            <br>
            <nz-form-label> 寄件人姓名 </nz-form-label> {{orderinfo.senderName }}
            <br>
            <nz-form-label> 寄件人电话 </nz-form-label> {{orderinfo.senderPhone }}
            <br>
            <nz-form-label> 寄件人地址 </nz-form-label> {{orderinfo.senderAddress }}
            <br>
            <nz-form-label> 航班号 </nz-form-label> {{orderinfo.flightNumber }}
            <br>
            <nz-form-label> 预计落地时间 </nz-form-label> {{orderinfo.landingTime }}
            <br>
            <nz-form-label> 订单状态 </nz-form-label> {{orderinfo.status }}
            <br>
            <nz-form-label> 订单状态详情 </nz-form-label> {{orderinfo.statusStr}}
            <br>
            <nz-form-label> 备注 </nz-form-label> {{orderinfo.remarks }}
            <br>
            <nz-form-label> 录单时间 </nz-form-label> {{orderinfo.createTime }}
            <br>
            <nz-form-label> 录单人 </nz-form-label> {{orderinfo.createdBy }}
            <br>
            <nz-form-label> 最后修改时间 </nz-form-label> {{orderinfo.updateTime }}
            <br>
            <nz-form-label> 最后修改人 </nz-form-label> {{orderinfo.updatedBy }}
        </nz-form-item>
    </nz-modal>
</div>