<ng-template #beforeButton>
    <span>员工卡号：</span>
</ng-template>
<nz-input-group nzSearch [nzAddOnBefore]="beforeButton" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input [(ngModel)]="badgeId" placeholder="请输入员工卡号" (keyup.enter)="getUserInfo()"
        onfocus="this.select();" />
</nz-input-group>
<ng-template #suffixButton>
    <button nz-button nzType="primary" nzSearch (click)="getUserInfo()">确认</button>
</ng-template>
<div nz-row class="data-container" style="margin-top:10px;padding: 5px 30px;">
    <div nz-col nzSpan="12"> <span> 姓名：{{userInfo.chineseName}}</span> </div>
    <div nz-col nzSpan="12"> <span> 工号：{{userInfo.employeeID}}</span> </div>
    <div nz-col nzSpan="12"> <span> 部门：{{userInfo.department}}</span> </div>
    <div nz-col nzSpan="12"> <span> 成本中心：{{userInfo.costcenter}}</span></div>
</div>
<nz-divider nzText="领取信息" nzOrientation="left"></nz-divider>
<div nz-row class="data-container" style="margin-top:10px;padding: 5px 30px;padding-top: 20px;">
    <form nz-form nzLayout="inline">
        <nz-form-item>
            <nz-form-label>工服季节</nz-form-label>
            <nz-form-control>
                <nz-select name="select-season" [(ngModel)]="selectSeason" style="min-width: 120px;"
                    (ngModelChange)="loadUniformInfo()">
                    <nz-option *ngFor="let item of uniformSeasons" [nzValue]="item.season" [nzLabel]="item.season">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>发放类型</nz-form-label>
            <nz-form-control>
                <nz-select name="select-type" [(ngModel)]="applyType" style="min-width: 120px;">
                    <nz-option nzValue="1" nzLabel="员工"></nz-option>
                    <nz-option nzValue="2" nzLabel="部门"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>领取数量</nz-form-label>
            <nz-form-control>
                <nz-input-number name="input-number" [nzPrecision]="0" [nzMin]="1" [nzStep]="1"
                    [(ngModel)]="applyNumber">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button type="button" *ngIf="!(btnEnable && selectTypes.length>0 && this.applyNumber)" disabled
                    nz-button class="fr mt-10" nzType="primary">确认发放</button>
                <button type="button" *ngIf="btnEnable && selectTypes.length>0 && this.applyNumber" nz-button
                    class="fr mt-10" (click)="giveout()" nzType="primary">确认发放</button>
            </nz-form-control>
        </nz-form-item>
    </form>
    <form nz-form>
        <nz-form-item>
            <nz-form-label>工服信息</nz-form-label>
            <nz-form-control>
                <nz-table #smallTable nzBordered [nzData]="selectTypes" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>季节</th>
                            <th>款式</th>
                            <th>价格(元/套)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of smallTable.data">
                            <td>{{ data.season }}</td>
                            <td>{{ data.style }}</td>
                            <td>{{ data.price }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>